{
    "extends": "@istanbuljs/nyc-config-typescript",
    "description": "",
    "reporter": [
      "lcov",
      "clover",
      "html",
      "text"
    ],
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "coverage/",
      "src/lib",
      "src/setup.ts"
    ],
    "all": true,
    "report-dir": ".coverage",
    "temp-directory": "./.nyc_output"
}
